<ion-header no-border>
  <ion-toolbar mode="md">
    <ion-title>chat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >

    <div text-center *ngIf="_us.amigos.length == 0" class="vacio">
        <ion-icon name="help" mode="ios" class="icon_5x"></ion-icon>
        <br>
        <p class="text">No tienes match aún</p> 
      </div>   

  <ion-list *ngFor="let f of _us.amigos; let i = index">
    <ion-item-sliding>

      <ion-item class="chat" [routerLink]="'/chat/' + f.pareja" [id]="contact">
          <ion-thumbnail slot="start">
              <img  src="../../assets/img/Corazón.png">
            </ion-thumbnail>
        <ion-label> {{contactos[i]}} </ion-label>
        
          <p slot="end"> {{f.puntos}}0% </p>
       
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option >Bloquear</ion-item-option>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>

</ion-content>
