

<ion-content padding >
  <div text-center >
    <ion-icon 
      name="send" 
      mode="ios" 
      class="icon_5x title"></ion-icon>
  </div>    

  <h2 class="title">talk2me</h2>

  <ion-card >
      <!-- <ion-card-header>
          <ion-card-title>Hello World</ion-card-title>
      </ion-card-header> -->

    <ion-card-content >
      <p >Platica con otros estudiantes como tú y 
          crea noticias para dar a conocer algo importante.</p>
      <ion-item>
        <ion-label color="primary" position="floating">Matricula</ion-label>
        <ion-input type="text" [(ngModel)]="user.matricula" maxlength='9'></ion-input>
      </ion-item>

      <ion-item>
        <ion-label color="primary" position="floating" >Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="user.contra" maxlength='30'></ion-input>
      </ion-item>

      <ion-button [disabled]="user.matricula.length < 9  || user.contra.length < 5"
      expand="block"
      (click)="login()">
      Iniciar Sesion
      </ion-button>

      <ion-button (click)="goRegistro()"
      expand="block" 
      color="light">
      Registrarse
     </ion-button>

    </ion-card-content>

  </ion-card>
</ion-content>
