

<ion-content >
  <ion-slides [options]="sliderConfig">

    <ion-slide *ngFor="let i of template, let idx = index" >

      <ion-card>
        <ion-card-header>
          <ion-card-subtitle *ngIf="idx < 10"> Pregunta {{i.id}} </ion-card-subtitle>
          <ion-card-title style="font-size: 20px"> {{i.question}} </ion-card-title>
        </ion-card-header>
      
        <ion-card-content>

          <ng-container *ngIf="idx < 10">
            <ion-list>
               <ion-radio-group (ionChange)="haber($event, idx)">
                 <ion-list-header>
                   <ion-label>Selecciona una opción:</ion-label>
                 </ion-list-header>
               
                 <ion-item>
                   <ion-label text-wrap> {{i.opc}} </ion-label>
                   <ion-radio slot="start" [value]="i.val" ></ion-radio>
                 </ion-item>
   
                 <ion-item>
                     <ion-label text-wrap> {{i.opc2}} </ion-label>
                     <ion-radio slot="start" [value]="i.val2" ></ion-radio>
                   </ion-item>
   
                   <ion-item>
                       <ion-label text-wrap> {{i.opc3}} </ion-label>
                       <ion-radio slot="start" [value]="i.val3" ></ion-radio>
                     </ion-item>
               
               </ion-radio-group>
             </ion-list>

          </ng-container>
          <ng-container *ngIf="idx == 10">
                    <ion-card-subtitle> Listo </ion-card-subtitle>

                  <p>Presiona continuar para enviar tu test y ser emparejado con miles de estudiantes como tú.</p>
            
          </ng-container>

        </ion-card-content>
      </ion-card>

    </ion-slide>

  </ion-slides>

    
      <p padding style="justify-content: center;">Desliza la tarjeta hacía la derecha para avanzar de pregunta. Tienes que marcar primero la opción para avanzar.
      <b>Si no puedes avanzar, vuelve a marcar la opción.</b></p>
      <ion-button [disabled]="test.length <10 "
          size="large"
          expand="full"
          (click)="ENVIAR()"
          [routerLink]="['/tabs']">
          Continuar
      </ion-button>

  
</ion-content>
