

ion-card.caja{
    border-radius: 30px 30px 30px 1px;
    margin-right: 85px;
}
ion-card.caja2{
    border-radius: 30px 30px 1px 30px;
    margin-left: 85px;
    text-align: right;
}

p.time{
    margin-left: 15px;
    color: gray;
    font-size: 12px
}
p.time2{
    text-align: right;
    margin-right: 15px;
    color: gray;
    font-size: 12px
}


  