

div.caja{ //caja de amigo
    background-color: #e0e2e2;

    border-radius: 30px 30px 30px 1px;
    margin-top: 5px;
    margin-right: 85px;
    margin-left: 5px;

    clear: both;
    overflow: hidden;

}
div.caja2{ //caja de remitente
    background-color: #c092e6;
    color: #ffff;

    border-radius: 30px 30px 1px 30px;
    margin-top: 5px;
    margin-left: 85px;
    margin-right: 5px;

    text-align: right;
    clear: both;
    overflow: hidden;

}
.caja p{
    padding-left: 10px;
}

.caja2 p {
    padding-right: 10px;
}

p.time{ //time  de amigo
    margin-left: 15px;
    color: gray;
    font-size: 12px;
    display: none
}
p.time2{ //date de remitente
    text-align: right;
    margin-right: 15px;
    color: gray;
    font-size: 12px;
    display: none
}


  