<ion-header>

  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button (click)="close()"></ion-back-button>
        </ion-buttons>
    <ion-title>{{contact | titlecase}}</ion-title>
    <ion-buttons slot="end">
        <ion-button 
        [fill]="tipoBoton" 
        [color]="colorBoton"
        (click)="alert()">
          {{chat.length}} / {{limite}}
        </ion-button>
      </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content id='contenido' >
    <br>
    
    <div text-center *ngIf="chat.length == 0" class="vacio">
        <ion-icon name="send" mode="ios" class="icon_5x"></ion-icon>
        <br>
        <p class="text">Envíale un mensaje a {{contact}}</p> 
    </div>

  <ng-container *ngFor="let ch of chat; let i = index"  id="CH">
      
    <div *ngIf="ch.remitente == usuario" (click)="verHora(i)" class="caja2">
      
            <p> {{ch.texto}} </p>
       
    </div>

    <div *ngIf="ch.remitente != usuario" (click)="verHora(i)" class="caja">
      
            <p> {{ch.texto}} </p>
       
    </div>
    <p [ngClass]="{'time2': ch.remitente  == usuario,'time': ch.remitente  != usuario  }"> 
        {{ch.creado_en | date: 'd/MMM/y ' }}
        {{ch.creado_en | date :'h:mm a '}}
    </p>
        <div id='last'>
            <div></div>
        </div>

  </ng-container>
</ion-content>

<ion-footer >
    <ion-toolbar>

        <ion-buttons slot='start'>
            <ion-button
            (click)="irA()">
                <ion-icon name='refresh' mode='md'></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-item>
          <ion-textarea 
          rows="1" 
          placeholder="Escribe algo aquí"
          max='145'
          [(ngModel)]="mensaje" 
          autofocus
          maxlength="200"></ion-textarea>
        </ion-item>

        <ion-buttons slot="end">
            <ion-button 
            fill="clear" 
            color="primary" 
            [disabled]="chat.length >= limite  || mensaje === ''" 
            (click)="enviar()">
                <ion-icon name="send" mode="md"></ion-icon>
            </ion-button>
        </ion-buttons>
            
    </ion-toolbar>
  </ion-footer>

  
