<!-- <ion-header>
  <ion-toolbar>
    <ion-title>cargando</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content >
  <div style="padding: 50% 40% 40% 40%">
      <!-- <img style="width: 60px" src="../../assets/img/Corazón.png" alt="Logo corazon"> -->
     
        <ion-icon name='send' mode='ios'></ion-icon>
      
      <div class="lds-ellipsis">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
      
      
    </div>
    <p padding style="text-align: center" class="text">Si no carga la página, recargala manualmente!</p>
  
</ion-content>
