<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/login']" (click)="atras()">
        Atrás
      </ion-button>
    </ion-buttons>

    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- <form (ngSubmit)="registrar()"> -->
    <ion-item>
        <ion-label position="stacked">Matricula</ion-label>
        <ion-input placeholder='Matricula sin la `z`' name='matricula' type="text" [(ngModel)]="user.matricula" maxlength='9' required='true'></ion-input>
      </ion-item>
  
      <ion-item>
          <ion-label position="stacked">Nombre</ion-label>
          <ion-input placeholder='Primer nombre o nombres' name='nombre' type="text" [(ngModel)]="user.nombre" maxlength='20' required='true'></ion-input>
        </ion-item>
  
      <ion-item>
        <ion-label position="stacked">Contraseña</ion-label>
        <ion-input placeholder='Contraseña' name='contra' type="password" [(ngModel)]="user.contra" maxlength='25' required='true'></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Género</ion-label>
        <ion-select [(ngModel)]="user.gen" placeholder="Selecciona uno">
          <ion-select-option value="F">Femenino</ion-select-option>
          <ion-select-option value="M">Masculino</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-button [disabled]= "user.matricula.length < 9 || !user.nombre || user.contra.length < 6 || !user.gen"
      expand='block'
      color='primary'
      (click)="registrar()">
        Registrarse
      </ion-button>
  <!-- </form> -->


</ion-content>
